<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">Hi, my name is Mayra Rodríguez and I am a Social Urban Ecologist. I am also a promoter of community engagement in scientific research, and an advocate for open data.</p>
                <p class="text-faded">Through my work, I partner with local agencies and organizations to improve natural resource partitioning from an equitable development and environmental justice perspective.</p>
                <p class="text-faded">Currently, I am a Postdoctoral Research Fellow at the Gund Institute for the Environment with the Spatial Analysis Laboratory (SAL) at the University of Vermont (UVM). Check out my institutional bio below, or navigate my website to learn about my efforts in making science more accessible and diverse through my portfolio.</p>
                <a href="https://www.uvm.edu/gund/profiles/mayra-rodriguez-gonzalez" class="btn btn-default btn-xl wow tada" target="_blank">Gund Bio</a>
            </div>
        </div>
    </div>
</section>
