<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">Hi, I am Dr. Mayra Rodríguez and I am an Urban Social Ecologist. I am also an advocate for community engagement in scientific research.</p>
                <p class="text-faded">As an applied scientist, I partner with city agencies and organizations to improve natural resource management and address environmental injustice.</p>
                <p class="text-faded">Scroll through my website to learn about different projects in my portfolio, or download my CV by clicking on the button below.</p>
                <p class="text-faded"> </p>
                <a href="https://drive.google.com/file/d/1Lc-6EJkDlR6IZPin4WjN20x0yBeIRyd0/view?usp=sharing" class="btn btn-default btn-xl wow tada" target="_blank">Vita</a>
            </div>
        </div>
    </div>
</section>
