<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Connect with me</h2>
                <hr class="primary">
                <p></p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.researchgate.net/profile/Mayra-I-Rodriguez-Gonzalez" target="_blank">
                <i class="fa fa-magnifying-glass fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.researchgate_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://orcid.org/0000-0003-0471-3203" target="_blank">
            <i class="fa fa-orcid fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.orcid-username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto: mayra.rodriguez_gonzalez@uconn.edu" target="_blank">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
