<header>
  <div class="header-content">
    <div class="header-content-inner">

      <h1>Mayra I. Rodríguez González</h1>
      <hr>

      <p class="header-tagline">
        Cities • Nature • Planning
      </p>

      <p class="header-description">
        Urban forester working at the intersection of data, community engagement, and urban forest planning.
      </p>

      <a href="#about" class="btn btn-primary btn-xl page-scroll">
        Learn More
      </a>

    </div>
  </div>
</header>
