<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"> </h2>
                <hr class="primary">
                <p></p>
            </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Mayra I. Rodríguez González</h1>
            <hr>
            <p><b><font color="WHITE"><font size="+2">Eight years of experience in geographic information systems</font></font></b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Brief bio</a>
        </div>
    </div>
</header>

