<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
                        <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Assessing-urban-socio-ecological-systems-at-multiple-temporal-scales-using-high-spatial-resolution-data-and-mixed-methods" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ongoing
                            </div>
                            <div class="project-name">
                                I am exploring how management and key events shape the urban forest by using mixed methods to move from a "demographic" to an "ethnographic" environmental justice framework.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/file/d/1epOghyEeeZBiLKYZNBewoVZrcih1FzPg/view?usp=sharing" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed (technical brief)
                            </div>
                            <div class="project-name">
                                I partnered with Purdue researchers and Fundación Natura Bolivia to understand the environmental outcomes of conservation efforts that are known to empower community members, particularly women.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/publication/348982854_The_evolution_of_macrosystems_biology" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed (published article)
                            </div>
                            <div class="project-name">
                                I wanted to expand our understanding of macrosystem-level interactions between urban areas, especially those that occur as by-product of ecosystem services flows.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Ecosystem-Services-in-the-Chicago-Region-Distribution-Accessibility-and-Management" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed (pubs under review)
                            </div>
                            <div class="project-name">
                                I studied urban green spaces in North America to understand demographic differences in access, usage and perspectives through geospatial and community-informed research that relied on a network of over 400 stewardship groups.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Urban-Agriculture-Socio-Environmental-Synthesis-An-Integration-of-the-Ecosystem-Services-and-Livelihoods-Approaches-to-Evaluate-the-Multifaceted-Role-of-Urban-Agriculture-in-Contemporary-Latin-America" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed (to submit)
                            </div>
                            <div class="project-name">
                                I worked collaboratively with researchers from a variety of fields to explore the role of urban agriculture in local ecosystems and community livelihoods in Latin America.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Assessing-the-impacts-of-urban-ecosystem-services-on-human-health-through-water-quantity-and-quality-in-Northwestern-Indiana-communities-An-opportunity-to-study-service-accessibility" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ongoing
                            </div>
                            <div class="project-name">
                                I was funded by the Indiana Water Resources Research Center to further our knowledge of stormwater and public health in the Midwestern United States.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Scientific-and-social-efforts-to-address-environmental-problems-and-engage-the-local-community-A-case-study-in-the-community-of-Juana-de-Matos-Catano-PR" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed (technical brief)
                            </div>
                            <div class="project-name">
                                I partnered with a local non-profit to document socio-enviromental injustice relating to urban wetland degradation in the Juana Matos community in Cataño, PR.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Leading-Initiative-for-Future-Ecologists-a-student-led-initiative-to-achieve-a-green-campus-at-the-University-of-Puerto-Rico-in-Bayamon-2013-2014-academic-year" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed (outreach outputs)
                            </div>
                            <div class="project-name">
                                I engaged with community members through environmental campaigns, initiatives and programs across Northeastern Puerto Rico.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/file/d/14vsXhlQVyUozq4MF9eLtCCUIANQwj07b/view?usp=sharing" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ongoing (diversity statement)
                            </div>
                            <div class="project-name">
                                Due to my background and experiences, I have comitted my career to diversity, equity and inclusion and actively partake in actions that help make science more accessible and diverse.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
