<section class="no-padding" id="portfolio">
      
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Connect with me</h2>
                <hr class="primary">
                <p></p>
            </div>
            
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Ecosystem-Services-in-the-Chicago-Region-Distribution-Accessibility-and-Management" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ongoing
                            </div>
                            <div class="project-name">
                                Urban greenspaces of Chicago
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Urban-Agriculture-Socio-Environmental-Synthesis-An-Integration-of-the-Ecosystem-Services-and-Livelihoods-Approaches-to-Evaluate-the-Multifaceted-Role-of-Urban-Agriculture-in-Contemporary-Latin-America" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ongoing
                            </div>
                            <div class="project-name">
                                Urban agriculture in Mexico City
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Assessing-the-impacts-of-urban-ecosystem-services-on-human-health-through-water-quantity-and-quality-in-Northwestern-Indiana-communities-An-opportunity-to-study-service-accessibility" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ongoing
                            </div>
                            <div class="project-name">
                                Blue spaces and public health in Northwestern Indiana
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Scientific-and-social-efforts-to-address-environmental-problems-and-engage-the-local-community-A-case-study-in-the-community-of-Juana-de-Matos-Catano-PR" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed
                            </div>
                            <div class="project-name">
                                Wetland conservation in Las Cucharillas Marsh, Cataño, PR
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.researchgate.net/project/Leading-Initiative-for-Future-Ecologists-a-student-led-initiative-to-achieve-a-green-campus-at-the-University-of-Puerto-Rico-in-Bayamon-2013-2014-academic-year" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Completed
                            </div>
                            <div class="project-name">
                                Project green campus at the University of Puerto Rico in Bayamón
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.purdue.edu/gradschool/diversity/programs/graduate-diversity-visitation-program/2020/initiatives.php" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ongoing
                            </div>
                            <div class="project-name">
                                Broadening participation of underrepresented groups in STEM through institutional initiatives
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
