<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partnerships</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumb-tack wow bounceIn text-primary"></i>
                    <h3>Affiliation</h3>
                    <a href="https://news.extension.uconn.edu/tag/mayra-rodriguez/" class="text-muted" target="_blank">I am faculty at the University of Connecticut's Department of Extension.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Mentoring</h3>
                    <a href="mailto:mayra.rodriguez_gonzalez@uconn.edu" class="text-muted" target="_blank">Please email me directly to find out about student opportunities.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Consulting</h3>
                    <a href="https://site.uvm.edu/sal/" class="text-muted" target="_blank">I partner with the UVM Spatial Analysis Lab to advise city agencies working towards an equitably resilient future.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Policy</h3>
                    <a href="https://uconn-my.sharepoint.com/:b:/g/personal/mayra_rodriguez_gonzalez_uconn_edu/EQol4uqUJYpClMr9zcGCQRMBx_06OpTBFza0XoP_zAmkCQ?download=1" class="text-muted" target="_blank">Click here to read how environmental justice principles must be part of the land conservation process.</a>
                </div>
            </div>
        </div>
    </div>
</section>
