<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Other</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Funding and news</h3>
                    <a href="https://twitter.com/GundInstitute/status/1454133497334050821?s=20" class="text-muted" target="_blank">I am a proud fellowship recipient of the Gund Institute for the Environment, which added Justice & Equity to their research scopes.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Current lab</h3>
                    <a href="https://site.uvm.edu/sal/" class="text-muted" target="_blank">I do environmental justice consulting through my affiliate lab (the Spatial Analysis Laboratory), which partners with city and town agencies to improve tree canopy access.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Other collaborations</h3>
                    <a href="https://harvardforest.fas.harvard.edu/people" class="text-muted" target="_blank">I mentor students through several avenues. Currently, I am affiliated with the Harvard Forest summer research program.</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumb-tack wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Latest talk</h3>
                    <a href="https://drive.google.com/file/d/1stxhLJ-zmpd85psV5NImuGZwH8PNQK8c/view?usp=sharing" class="text-muted" target="_blank">I give talks and seminars on environmental justice and community-informed research. Slides from recent talks are available online for reference.</a>
                </div>
            </div>
        </div>
    </div>
</section>
